﻿@using Microsoft.AspNet.Identity
@using WEBAAssignmentProject.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var displayNameClaim = claimsIdentity != null
            ? claimsIdentity.Claims.SingleOrDefault(x => x.Type == ApplicationUser.DisplayNameClaimType)
            : null;
        var nameToDisplay = displayNameClaim == null ? User.Identity.Name : displayNameClaim.Value;

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + nameToDisplay + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- I commented this line because I don't intend to allow user to use the Register action method of the
               Home controller. I should also (but didn't) create a new Controller with action methods to support
               customer registration process. -->
        @*<li>Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
