﻿@model IEnumerable<WEBAAssignmentProject.Models.ApplicationUser>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Users For Application</h2>

@Html.ActionLink("Create User", "AddUser", "Seed")

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

<table id="tbrole">
    <tr>
        <td class="c">
            User Staff Id
        </td>
        <td class="c">
            Email
        </td>
        <td class="c">
            Full Name
        </td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.UserName
            </td>
            <td class="c">
                @item.Email
            </td>
            <td class="c">
                @item.FullName
            </td>

        </tr>
    }
</table>

